body {
  background-color: #1e4a5f;
}

nav Link:hover {
  color: var(--secondaryColor);
}

.active {
  color: #0f2731;
}

.imgLogo {
  width: 168px;
}

.buttonMuni {
  background-color: #0e66a3;
  position: relative;
  left: 651%;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 38px;
  border: 1px solid #0e66a3;
  border-radius: 8px;
}

.buttonPeople {
  background-color: #61831f;
  position: relative;
  left: 669%;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 38px;
  border: 1px solid #61831f;
  border-radius: 8px;
}

.Home {
  position: relative;
  left: 180%;
}
.About {
  position: relative;
  left: 184%;
}

.Login {
  position: relative;
  left: 188%;
}

.footer {
  background-color: rgb(255, 255, 255);
  font-family: "Lora", serif;
}
.footer p {
  color: black;
  font-weight: bold;
}
