* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  background-color: #1e4a5f;
}

:root {
  --mainColor: white;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #282936;
}

nav Link:hover {
  color: var(--secondaryColor);
}

.active {
  color: #0f2731;
}

.imgLogo {
  width: 168px;
}

.buttonMuni {
  background-color: #0e66a3;
  position: relative;
  left: 322%;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 38px;
  border: 1px solid #0e66a3;
  border-radius: 8px;
}

.buttonPeople {
  background-color: #61831f;
  position: relative;
  left: 341%;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 38px;
  border: 1px solid #61831f;
  border-radius: 8px;
}

/* header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
} */

.footer {
  background-color: rgb(255, 255, 255);
  font-family: 'Lora', serif;
}
.footer p {
  color: black;
  font-weight: bold;
}
